<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
<h2>Welcome to Raj <%= title %></h2>
<h2><%= heading %></h2>
<ul class="nav">
	<li><%= nav %></li>
	<li><%= nav_two %></li>
	<li><%= nav_three %></li>
</ul>
</body>
</html>